@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::after,
*::before {
  font-family: "Plus Jakarta Sans";
}

.center {
  margin: 0 auto;
  gap: 5rem;
}

.cstm {
  height: 100vh;
}